---
---
:root {
  --theme-bg-color: white;
  --theme-note-bg-color: #e4f2f5;
  --theme-title-color: #3143A2;
  --theme-text-color: #151d47;
  --theme-nav-gradient: linear-gradient(40deg, #45cafc, #303f9f);
  --breathe-time: 10s;
} 

/* Colors 
========================= */
.card .card-body, .card .card-body .card-text  {
    color:var(--theme-text-color);
    background:var(--theme-bg-color);
}
.card-title h2, .card-title h4 {
    color: var(--theme-title-color);
}
.note-info {
    background-color: var(--theme-note-bg-color);
    color: var(--theme-text-color);
    border-color: #2492a5;
}
textarea, .source {
    color: var(--theme-text-color) !important;
}
textarea {
    background-color: var(--theme-bg-color) !important;
}
.nav-gradient {
    background: var(--theme-nav-gradient);
}

.carousel-fullscreen .card .card-body::-webkit-scrollbar-thumb, .content-wrap .card-body::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, .5);
  }
#sidebar {
    color: #fff;
}
#sidebar ul p {
    color: #fff;
}

#sidebar ul li a {
    color:#fff;
}

/*#sidebar ul li a:hover, #sidebar ul li a[aria-expanded="true"] {
    color: #fff;
    background: rgba(255, 255, 255, 0.2);
}*/
#sidebar ul ul a {
    /*background: #6d7fcc;*/
    color:#fff;
}
a.download {
    background: #fff;
    color: #7386D5;
}
a.article,
a.article:hover {
    background: #6d7fcc !important;
    color: #fff !important;
}
.custom-control-input:checked~.custom-control-label::before {
    border-color: #ccc; 
    background-color: #3d5c7d;
}

/* ./ Colors */







/* carousel fullscreen */
body {
    background-image: url('{{site.url}}/img/red-background.jpg');
    background-position: center;
    background-size: cover;
    font-family: 'Merriwether', serif;
    font-weight: 300;

}
h1,h2,h3,h4,h5,h6 {
    font-family: 'Raleway', sans-serif;
    font-weight: 200;
}
.card strong {
    font-weight: 600;
}
.navbar {
    height:7vh;
    z-index: 5;
}

.toast {
    position: absolute;
    top:0;
    right:0;
}
.btn {
    border-radius: 5px;
    font-family: 'Raleway', sans-serif;
}


.carousel-fullscreen .carousel-inner .carousel-item, .content-wrap  {
    min-height: 93vh; 
    overflow: auto;
    /*padding-top:5px;
    /*min-height: 600px; */
    background-position: center center; 
    background-repeat: no-repeat; 
    background-size: cover;
}

/* carousel fullscreen - vertically centered caption*/

.carousel-fullscreen .card, .content-wrap .card {
    min-height: 93vh;
    max-height: 93vh;
    min-width: 550px;
    max-width: 550px;
}

/* card and carousel font styles and colors */
 .carousel-fullscreen .card .card-body, .content-wrap .card-body  {
    overflow:auto;

}
.card .card-body .card-text {
   font-size: 1.1rem;
    font-weight: 300;
}
.card-title {
    text-align: center;
}
.card-title h2 {
    font-size: 20px; 
    font-weight: 200; 
}

.card .card-body h1, .card .card-body h2, .card .card-body h3, .card .card-body h4, .card .card-body h5, .card .card-body h6 {
    font-weight: 300;
}

.carousel-fade .carousel-item {
    -webkit-transition-duration: .2s;
    transition-duration: .2s;
}
.carousel-item {
    transition: -webkit-transform .2s ease-in-out;
    transition: transform .2s ease-in-out;
    transition: transform .2s ease-in-out,-webkit-transform .2s ease-in-out;
}

/* always show scrollbars */

.carousel-fullscreen .card .card-body::-webkit-scrollbar, .content-wrap .card-body::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 7px;
  }
  
  .carousel-fullscreen .card .card-body::-webkit-scrollbar-thumb, .content-wrap .card-body::-webkit-scrollbar-thumb {
    border-radius: 4px;
    box-shadow: 0 0 1px rgba(255, 255, 255, .5);
  }

  @media(max-width:35em){
    .carousel-fullscreen .card, .content-wrap .card {
        min-height: 93vh;
        min-width:100%;
        /*top: 8%;  
        bottom: auto;
       /*-webkit-transform: translate(0, 10%); 
        -ms-transform: translate(0, 10%); 
        transform: translate(0, 10%);*/
    }
  
  }

  .carousel-fullscreen .card .card-footer, .content-wrap .card .card-footer {
    font-size: 0.75rem;
  }


  /* Prayer timer styles 
==============================*/
#prayer-timer {
    width: 100%;
    max-width: 320px;
}



  /* Prayer pages styles
==============================*/
#prayer-tags a:first-letter {
    text-transform:capitalize;
}



  /* CSB styles
==============================*/

.scripture-list {
    list-style: none;
    padding-left:0;
}

/* this class alows user to show verses without line breaks*/
.verses-inline li {
    display:inline;
}
/* this class allows user to hide verse refrences*/
.hide-verse-refs .verse-ref {
    display:none;
}





  /* Sidebar styles
==============================*/
/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */

#sidebar {
    width: 250px;
    position: fixed;
    top: 0;
    left: -250px;
    height: 100vh;
    z-index: 4;
    /*background: #7386D5;*/
    transition: all 0.3s;
    overflow-y: auto;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.2);
}

#sidebar.active {
    left: 0;
}

#dismiss {
    width: 25px;
    height: 25px;
    line-height: 25px;
    text-align: center;
    border: 1px solid #fff;
    border-radius: 5px;
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}

#dismiss:hover {
    color: #fff;
    background: rgba(255, 255, 255, 0.2);
}
#dismiss-cover {
    display: none;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 2;
    background: rgba(0,0,0,0.50);
}
#dismiss-cover.active {
    display: block;
}


#sidebar .sidebar-header {
    padding: 6px 20px 0px 20px;
}

#sidebar ul.components {
    padding: 20px 0;
    border-bottom: 1px solid #47748b;
}

#sidebar ul p, #sidebar ul label {
    
    font-size: 0.8em;
}
#sidebar ul>li {
    padding: 10px;
}
#sidebar ul li a {
    padding: 0px;
    font-size: 1em;
}
#sidebar ul li ul li a {
    padding: 0;
    font-size: 0.8em;
    display: inline;
    text-decoration: underline;
}


#sidebar ul li ul li a:hover, #sidebar ul li ul li a[aria-expanded="true"] {
    background: none;
}

#sidebar ul li a[aria-expanded="true"] .fa-angle-down {
    display:inline;
}
#sidebar ul li a[aria-expanded="true"] .fa-angle-right {
    display:none;
}
#sidebar ul li a[aria-expanded="false"] .fa-angle-down {
    display:none;
}
#sidebar ul li a[aria-expanded="false"] .fa-angle-right {
    display:inline;
}

a[data-toggle="collapse"] {
    position: relative;
}

.dropdown-toggle::after {
    display: block;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}

ul ul a {
    font-size: 0.9em !important;
    padding-left: 30px !important;
}

ul.CTAs {
    padding: 20px;
}

ul.CTAs a {
    text-align: center;
    font-size: 0.9em !important;
    display: block;
    border-radius: 5px;
    margin-bottom: 5px;
}


#sidebar select {
    width:90%;

}
#sidebar .custom-switch label {
    font-size: 0.8rem;
}

/* side bar material switches
================*/

.switch label {
    cursor: pointer;
}
.switch label .lever {
    position: relative;
    display: inline-block;
    margin: 0 1rem;
    margin-right: .625rem;
    vertical-align: middle;
    content: "";
    background-color: #818181;
    border-radius: .9375rem;
    width: 2.5rem;
    height: .9375rem;
    -webkit-transition: background 0.3s ease;
    transition: background 0.3s ease;
}
.switch label input[type="checkbox"]:checked+.lever {
    background-color: #ddddcc;
}
.switch label .lever:after {
    position: absolute;
    top: -.1875rem;
    left: -.3125rem;
    display: inline-block;
    content: "";
    background-color: #f1f1f1;
    border-radius: 1.3125rem;
    -webkit-box-shadow: 0 0.0625rem 0.1875rem 0.0625rem rgba(0,0,0,0.4);
    box-shadow: 0 0.0625rem 0.1875rem 0.0625rem rgba(0,0,0,0.4);
    width: 1.3125rem;
    height: 1.3125rem;
    -webkit-transition: left 0.3s ease,background 0.3s ease,-webkit-box-shadow 1s ease;
    transition: left 0.3s ease,background 0.3s ease,-webkit-box-shadow 1s ease;
    transition: left 0.3s ease,background 0.3s ease,box-shadow 1s ease;
    transition: left 0.3s ease,background 0.3s ease,box-shadow 1s ease,-webkit-box-shadow 1s ease;
}
.switch label input[type="checkbox"]:checked+.lever:after {
    left: 1.5rem;
    background-color: #45cafc;
}
.switch label input[type="checkbox"] {
    opacity: 0;
    width: 0;
    height: 0;
}

[type="checkbox"]:not(:checked), [type="checkbox"]:checked {
    position: absolute;
    pointer-events: none;
    opacity: 0;
}
input[type=checkbox], input[type=radio] {
    box-sizing: border-box;
    padding: 0;
}


/*nav bar styles
=============================*/
.nav-control-inactive {
    opacity: 0.1;
}
.nav-control-active {
    animation: 2s ease-in-out 2s 3 bounce;
}

@keyframes bounce {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.5);
    }
    100% {
        transform: scale(1);
    }
    
}

/*Loader styles
=============================*/
.loader-container {
    background-color: #222;
  }
  #preloader {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
  }
  #loader {
      display: block;
      position: relative;
      left: 50%;
      top: 50%;
      width: 150px;
      height: 150px;
      margin: -75px 0 0 -75px;
      border-radius: 50%;
      border: 3px solid transparent;
      border-top-color: #45cafc;
      -webkit-animation: spin 2s linear infinite;
      animation: spin 3s linear infinite;
  }
  #loader:before {
      content: "";
      position: absolute;
      top: 5px;
      left: 5px;
      right: 5px;
      bottom: 5px;
      border-radius: 50%;
      border: 3px solid transparent;
      border-top-color: #125396;
      -webkit-animation: spin 3s linear infinite;
      animation: spin 5s linear infinite;
  }
  #loader:after {
      content: "";
      position: absolute;
      top: 15px;
      left: 15px;
      right: 15px;
      bottom: 15px;
      border-radius: 50%;
      border: 3px solid transparent;
      border-top-color: #3143A2;
      -webkit-animation: spin 1.5s linear infinite;
      animation: spin 3.5s linear infinite;
  }
  @-webkit-keyframes spin {
      0%   {
          -webkit-transform: rotate(0deg);
          -ms-transform: rotate(0deg);
          transform: rotate(0deg);
      }
      100% {
          -webkit-transform: rotate(360deg);
          -ms-transform: rotate(360deg);
          transform: rotate(360deg);
      }
  }
  @keyframes spin {
      0%   {
          -webkit-transform: rotate(0deg);
          -ms-transform: rotate(0deg);
          transform: rotate(0deg);
      }
      100% {
          -webkit-transform: rotate(360deg);
          -ms-transform: rotate(360deg);
          transform: rotate(360deg);
      }
  }
  #loader-text {
    color:#fff;
    position: absolute;
    width: 100%;
    height:100vh; 
  }
  .loader-container {
    width: 100%; 
    z-index: 5000; 
    height: 100vh; 
    position: absolute; 
    display:flex;
  }



  /* Animation cards */

.card div.animation-body {
    padding: 10px 0 0 0;
    height: 100%;
    color:var(--theme-text-color);
    background:var(--theme-bg-color);
}
.animation-body .card-text {
    color:var(--theme-text-color);
    background-color: transparent;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 81vh;
    justify-items: center;
    align-items: center;
}
.animation-body .text-title {
    padding:0 2rem;
}
.animation-body .text-title span {
    font-size: 2rem;
    font-family: 'Merriwether', serif;
}




#sink-in-container {
    grid-template-areas: "sink-in-cell";
}
#indwelling-container {
    grid-template-areas: "indwelling-cell";
}
#letgo-container {
    grid-template-areas: "letgo-cell";
}




#sink-in-text {
    grid-area: sink-in-cell;
    text-align: center;
    position: relative;
    top:-160px;
    z-index: 3;
}
#screen {
    grid-area: sink-in-cell;
    width: 50px;
    height: 50px;
    background:var(--theme-bg-color);
    z-index: 2;
    position: relative;
    top: 35px;
}
#sink-dot {
    background-color: #45cafc;
    border: 3px solid #3143A2;
    height:35px;
    width: 35px;
    border-radius: 50%;
    grid-area: sink-in-cell;
    z-index: 1;
    animation: 3s cubic-bezier(0.18, 0.29, 0.32, 1.01) 0ms infinite sink;
}
img#sink-in {
    width: 300px;    
    grid-area: sink-in-cell;
    z-index: 2;
}
#indwelling-text {
    grid-area: indwelling-cell;
    text-align: center;
    position: relative;
    top: -195px;
}
#indwelling-dot {
    background-color: #45cafc;
    border: 8px solid #3143A2;
    height:201px;
    width: 201px;
    border-radius: 50%;
    grid-area: indwelling-cell;
    z-index: 2;
    animation: 6s cubic-bezier(0.18, 0.29, 0.32, 1.01) 0ms infinite indwelling;
}
img#indwelling {
    width: 300px;    
    grid-area: indwelling-cell;
    z-index: 1;
    position: relative;
    left:-2.09px;
}


#letgo-text {
    grid-area: letgo-cell;
    text-align: center;
    position: relative;
    top: -215px;
}
img#letgo {
    width: 300px;    
    grid-area: letgo-cell;
    z-index: 1;
    animation: 5s cubic-bezier(0.18, 0.29, 0.32, 1.01) 0ms infinite letgo;
}




@keyframes sink {
    0% {
      transform:translate(0, -50px);
      opacity: 0;
    }
    15%   {
      opacity: 1;
    }

    75% {
        opacity: 1;
    }
  
    90% {
        opacity: 0;
    }
    
    100% {
      transform:translate(0px, 20px);
      opacity: 0;
    }
}
@keyframes indwelling {
    0% {
      transform:translate(150px, 0px) scale(0.19);
      opacity: 1;
    } 
    60% {
      transform: translate(0px, 0px) scale(0.19);
      opacity: 1;
    }       
    100% {
      transform: translate(0px, 0px) scale(1);
      opacity: 0.5;
    }
}

@keyframes letgo {
    0% {
      transform:scale(0);
      opacity: 0;
    }
    30% {
        opacity: 1;
    }
    70% {
        opacity: 1;
    }          
    100% {
     transform:scale(1);
      opacity: 0;
    }
}



/* Breather */

#breather-text {
    color:#fff;
    position: absolute;
    width: 100%;
    height:100vh; 
  }
  .breather-container {
    width: 100%; 
    height: 100%;
    display:flex;
    background-color: #222;
  }
  #breather-outer {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
  }
  #breather-inner {
      display: block;
      position: relative;
      left: 50%;
      top: 50%;
      width: 300px;
      height: 300px;
      margin: -150px 0 0 -150px;
      border-radius: 50%;
      border: 5px solid transparent;
      border-color: #45cafc;
      -webkit-animation: breathe 10s linear infinite;
      animation: breathe 10s ease-in-out infinite;
  }
  #breather-inner:before {
      content: "";
      position: absolute;
      top: 5px;
      left: 5px;
      right: 5px;
      bottom: 5px;
      border-radius: 50%;
      border: 4px solid transparent;
      border-color: #125396;
      -webkit-animation: breathe-smaller 10s linear infinite;
      animation: breathe-smaller 10s ease-in-out infinite;
  }
  #breather-inner:after {
      content: "";
      position: absolute;
      top: 15px;
      left: 15px;
      right: 15px;
      bottom: 15px;
      border-radius: 50%;
      border: 3px solid transparent;
      border-color: #3143A2;
      -webkit-animation: breathe-even-smaller 10s linear infinite;
      animation: breathe-even-smaller 10s ease-in-out infinite;
  }
  @-webkit-keyframes breathe {
      0%   {
          -webkit-transform: scale(0.5);
          -ms-transform: scale(0.5);
          transform: scale(0.5);
          
      }
      50% {
          -webkit-transform: scale(1);
          -ms-transform: scale(1);
          transform: scale(1);
      }
      100% {
          -webkit-transform: scale(0.5);
          -ms-transform: scale(0.5);
          transform: scale(0.5);
          
      }
  }
  @keyframes breathe {
      0%   {
          -webkit-transform: scale(0.5);
          -ms-transform: scale(0.5);
          transform: scale(0.5);
          
      }
      50% {
          -webkit-transform: scale(1);
          -ms-transform: scale(1);
          transform: scale(1);
          
      }
      100% {
          -webkit-transform: scale(0.5);
          -ms-transform: scale(0.5);
          transform: scale(0.5);
          
      }
  }
  @keyframes breathe-smaller {
      0%   {
          -webkit-transform: scale(0.8);
          -ms-transform: scale(0.8);
          transform: scale(0.8);
      }
      50% {
          -webkit-transform: scale(1.02);
          -ms-transform: scale(1.02);
          transform: scale(1.02);
      }
      100% {
          -webkit-transform: scale(0.8);
          -ms-transform: scale(0.8);
          transform: scale(0.8);
      }
  }
  @-webkit-keyframes breathe-smaller {
      0%   {
          -webkit-transform: scale(0.8);
          -ms-transform: scale(0.8);
          transform: scale(0.8);
      }
      50% {
          -webkit-transform: scale(1.02);
          -ms-transform: scale(1.02);
          transform: scale(1.02);
      }
      100% {
          -webkit-transform: scale(0.8);
          -ms-transform: scale(0.8);
          transform: scale(0.8);
      }
  }
  @keyframes breathe-even-smaller {
      0%   {
          -webkit-transform: scale(0.6);
          -ms-transform: scale(0.6);
          transform: scale(0.6);
      }
      50% {
          -webkit-transform: scale(1.05);
          -ms-transform: scale(1.05);
          transform: scale(1.05);
      }
      100% {
          -webkit-transform: scale(0.6);
          -ms-transform: scale(0.6);
          transform: scale(0.6);
      }
  }
  @-webkit-keyframes breathe-even-smaller {
      0%   {
          -webkit-transform: scale(0.6);
          -ms-transform: scale(0.6);
          transform: scale(0.6);
      }
      50% {
          -webkit-transform: scale(1.05);
          -ms-transform: scale(1.05);
          transform: scale(1.05);
      }
      100% {
          -webkit-transform: scale(0.6);
          -ms-transform: scale(0.6);
          transform: scale(0.6);
      }
  }