---
---
/* Colors 
========================= */
.card .card-body, .card .card-body .card-text  {
    color:#151d47;
}
.carousel-fullscreen .card .card-body::-webkit-scrollbar-thumb, .content-wrap .card-body::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, .5);
  }
#sidebar {
    color: #fff;
}
#sidebar ul p {
    color: #fff;
}

#sidebar ul li a {
    color:#fff;
}

#sidebar ul li a:hover, #sidebar ul li a[aria-expanded="true"] {
    color: #fff;
    background: rgba(255, 255, 255, 0.2);
}
#sidebar ul ul a {
    /*background: #6d7fcc;*/
    color:#fff;
}
a.download {
    background: #fff;
    color: #7386D5;
}
a.article,
a.article:hover {
    background: #6d7fcc !important;
    color: #fff !important;
}
.custom-control-input:checked~.custom-control-label::before {
    border-color: #ccc; 
    background-color: #3d5c7d;
}
.nav-blue-gradient {
    background: linear-gradient(40deg, #45cafc, #303f9f) !important;
}
.nav-dark-gradient {
    background: linear-gradient(40deg, #000000, #3d3e40) !important;
}

/* ./ Colors */


.btn {
    border-radius: 10px;
}


/* carousel fullscreen */
body {
    background-image: url('{{site.url}}/img/red-background.jpg');
    background-position: center;
    background-size: cover;
    font-family: 'Merriwether', serif;
    font-weight: 300;

}
h1,h2,h3,h4,h5,h6 {
    font-family: 'Raleway', sans-serif;
    font-weight: 200;
}
.card strong {
    font-weight: 600;
}
.navbar {
    height:7vh;
}
.carousel-fullscreen .carousel-inner .carousel-item, .content-wrap  {
    min-height: 93vh; 
    overflow: auto;
    /*padding-top:5px;
    /*min-height: 600px; */
    background-position: center center; 
    background-repeat: no-repeat; 
    background-size: cover;
}
.card-footer {
    padding-top:0;
    padding-bottom:0;
}
.card-header {
    padding: 0.5rem 1.25rem 0rem 1.25rem;
}
.card-header h4 {
    font-size:1rem
}
/* carousel fullscreen - vertically centered caption*/

.carousel-fullscreen .card, .content-wrap .card {
    min-height: 93vh;
    max-height: 93vh;
    min-width: 550px;
    max-width: 550px;
}

/* card and carousel font styles and colors */
 .carousel-fullscreen .card .card-body, .content-wrap .card-body  {
    overflow:auto;

}
.card .card-body .card-text {
   font-size: 1.1rem;
    font-weight: 300;
}

.card .card-body h1, .card .card-body h2, .card .card-body h3, .card .card-body h4, .card .card-body h5, .card .card-body h6 {
    font-weight: 300;
}



/* always show scrollbars */

.carousel-fullscreen .card .card-body::-webkit-scrollbar, .content-wrap .card-body::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 7px;
  }
  
  .carousel-fullscreen .card .card-body::-webkit-scrollbar-thumb, .content-wrap .card-body::-webkit-scrollbar-thumb {
    border-radius: 4px;
    box-shadow: 0 0 1px rgba(255, 255, 255, .5);
  }

  @media(max-width:35em){
    .carousel-fullscreen .card, .content-wrap .card {
        min-height: 93vh;
        min-width:100%;
        /*top: 8%;  
        bottom: auto;
       /*-webkit-transform: translate(0, 10%); 
        -ms-transform: translate(0, 10%); 
        transform: translate(0, 10%);*/
    }
  
  }

  .carousel-fullscreen .card .card-footer, .content-wrap .card .card-footer {
    font-size: 0.75rem;
  }


  /* Prayer timer styles 
==============================*/
#prayer-timer {
    width: 100%;
    max-width: 320px;
}



  /* Prayer pages styles
==============================*/
#prayer-tags a:first-letter {
    text-transform:capitalize;
}



  /* CSB styles
==============================*/

.scripture-list {
    list-style: none;
    padding-left:0;
}

/* this class alows user to show verses without line breaks*/
.verses-inline li {
    display:inline;
}
/* this class allows user to hide verse refrences*/
.hide-verse-refs .verse-ref {
    display:none;
}





  /* Sidebar styles
==============================*/
/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */

#sidebar {
    width: 250px;
    position: fixed;
    top: 0;
    left: -250px;
    height: 100vh;
    z-index: 999;
    /*background: #7386D5;*/
    transition: all 0.3s;
    overflow-y: auto;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.2);
}

#sidebar.active {
    left: 0;
}

#dismiss {
    width: 25px;
    height: 25px;
    line-height: 25px;
    text-align: center;
    border: 1px solid #fff;
    border-radius: 5px;
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}

#dismiss:hover {
    color: #fff;
    background: rgba(255, 255, 255, 0.2);
}

#sidebar .sidebar-header {
    padding: 6px 20px 0px 20px;
}

#sidebar ul.components {
    padding: 20px 0;
    border-bottom: 1px solid #47748b;
}

#sidebar ul p {
    padding: 10px;
    font-size: 0.8em;
}

#sidebar ul li a {
    padding: 10px;
    font-size: 1.1em;
    display: block;
}
#sidebar ul li ul li a {
    padding: 0;
    font-size: 0.8em;
    display: inline;
    text-decoration: underline;
}

#sidebar ul li a:hover, #sidebar ul li a[aria-expanded="true"] {
    background: rgba(255, 255, 255, 0.2);
}
#sidebar ul li ul li a:hover, #sidebar ul li ul li a[aria-expanded="true"] {
    background: none;
}

#sidebar ul li a[aria-expanded="true"] .fa-angle-down {
    display:inline;
}
#sidebar ul li a[aria-expanded="true"] .fa-angle-right {
    display:none;
}
#sidebar ul li a[aria-expanded="false"] .fa-angle-down {
    display:none;
}
#sidebar ul li a[aria-expanded="false"] .fa-angle-right {
    display:inline;
}

a[data-toggle="collapse"] {
    position: relative;
}

.dropdown-toggle::after {
    display: block;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}

ul ul a {
    font-size: 0.9em !important;
    padding-left: 30px !important;
}

ul.CTAs {
    padding: 20px;
}

ul.CTAs a {
    text-align: center;
    font-size: 0.9em !important;
    display: block;
    border-radius: 5px;
    margin-bottom: 5px;
}


#sidebar select {
    width:90%;

}
#sidebar .custom-switch label {
    font-size: 0.8rem;
}