<header>
    <!--Navbar-->
<nav class="navbar navbar-expand-lg navbar-dark blue-gradient fixed-bottom">
    <div class="container d-flex justify-content-around" style="max-width:550px;">
        <!-- Navbar brand -->
        
        <a href="#prayer-carousel" id="prev" class="text-white" data-slide="prev"><i class="fas fa-chevron-left fa-2x"></i></a>
        <a href="#" class="text-white" id="sidebarCollapse"><i class="fas fa-cogs fa-2x"></i></a>
        <a class="navbar-brand" href="{{site.url}}"><img src="img/logo_white.png" class="image-fluid" style="height:32px"/></a>
        <a href="{{site.url}}/prayer-book.html" class="text-white"><i class="fas fa-book fa-2x"></i></a>
        <a href="#prayer-carousel" id="next" class="text-white" data-slide="next"><i class="fas fa-chevron-right fa-2x"></i></a>
             
    </div>
</nav>
<!--/.Navbar-->
</header>

 <!-- Sidebar  -->
 <nav id="sidebar" class="blue-gradient">
    <div id="dismiss">
        <i class="fas fa-arrow-left"></i>
    </div>

    <div class="sidebar-header">
        <h3><img src="{{site.url}}/img/logo_white.png" style="height:25px"/> Simply Pray</h3>
    </div>


    <ul class="list-unstyled accordion" role="tablist" id="side-accordion"> 
        <p style="border-bottom: 1px solid rgba(255,255,255,0.7);">Settings</p>
    
        <li><a href="#daily-psalm-menu" data-toggle="collapse" aria-expanded="false"><i class="fas fa-angle-right"></i> <i class="fas fa-angle-down"></i> Daily Psalm</a>
           <div class="pb-2">
            <ul class="collapse list-unstyled" role="tabpanel" data-parent="#side-accordion" id="daily-psalm-menu">
                <li>
                    <p class="pt-0">Pick a Psalm you want to read. The next Psalm will automatically be displayed in about 24 hours.</p>
                    <select class="ml-auto mr-auto d-block custom-select" id="psalm-select">
                    <option value="1" selected>---Select---</option>
                    {% for psalm in site.data.psalms %}
                    <option value="{{psalm.id}}">{{psalm.title}} 
                        {% if psalm.section %} 
                        - {{psalm.section}} 
                        {% endif %} </option>
                    {% endfor %}
                    </select>
                </li>
           </ul>
        </div>
        
        
        </li>
        
        
        <li>
            <a href="#opening-prayers-menu" data-toggle="collapse" aria-expanded="false"><i class="fas fa-angle-right"></i> <i class="fas fa-angle-down"></i> Opening Prayer</a>
            <div class="pb-2">
            <ul class="collapse list-unstyled" role="tabpanel" data-parent="#side-accordion" id="opening-prayers-menu">
                <li>
                    <p class="pt-0">Pick a prayer to begin your time.</p>
                    <select name="opening-prayer-select" id="opening-prayer-select" class="ml-auto mr-auto d-block custom-select">
                        <option selected value="0">---Select---</option>
                        {% assign prayers = site.data.prayers  %}
                        {% for prayer in prayers %}
                            {% if prayer.tags contains "opening" %}
                            <option value="{{prayer.id}}">
                                {{prayer.title}}
                            </option>
                            {% endif %}
                        {% endfor %}
                    </select>
                </li>
                
            </ul>
            </div>  
        </li>






        <li>
            <a href="#prayers-of-intent-menu" data-toggle="collapse" aria-expanded="false"><i class="fas fa-angle-right"></i> <i class="fas fa-angle-down"></i> Prayer of Intent</a>
            <div class="pb-2">
            <ul class="collapse list-unstyled" role="tabpanel" data-parent="#side-accordion" id="prayers-of-intent-menu">
                <li>
                    <p class="pt-0">Pick a prayer with which to begin your silence.</p>
                    <select name="prayer-of-intent-select" id="prayer-of-intent-select" class="ml-auto mr-auto d-block custom-select">
                        <option selected value="1">---Select---</option>
                        {% for prayer in prayers %}
                            {% if prayer.tags contains "intent" %}
                            <option value="{{prayer.id}}">
                                {{prayer.title}}
                            </option>
                            {% endif %}
                        {% endfor %}
                    </select>
                </li>
            </ul>
            </div>
        </li>





        <li>
            <a href="#closing-prayers-menu" data-toggle="collapse" aria-expanded="false"><i class="fas fa-angle-right"></i> <i class="fas fa-angle-down"></i> Closing Prayers</a>
            <div class="pb-2">
            <ul class="collapse list-unstyled" role="tabpanel" data-parent="#side-accordion" id="closing-prayers-menu">
                <li>
                    <p class="pt-0">Pick a prayer to end your time.</p>
                    <select name="closing-prayer-select" id="closing-prayer-select" class="ml-auto mr-auto d-block custom-select">
                        <option selected value="2">Closing prayers</option>
                        {% for prayer in prayers %}
                            {% if prayer.tags contains "closing" %}
                            <option value="{{prayer.id}}">
                                {{prayer.title}}
                            </option>
                            {% endif %}
                        {% endfor %}
                    </select>
                </li>
            </ul>
        </div>
        </li>







        <li>
            <a href="#silent-prayer-time-menu" data-toggle="collapse" aria-expanded="false"><i class="fas fa-angle-right"></i> <i class="fas fa-angle-down"></i> Silent Prayer Time</a>
            <div class="pb-2">
            <ul class="collapse list-unstyled" role="tabpanel" data-parent="#side-accordion" id="silent-prayer-time-menu">
                <li>
                    <p class="pt-0">Pick amount of silence</p>
                    <select name="silent-prayer-select" id="silent-prayer-select" class="ml-auto mr-auto d-block custom-select">
                        <option value="20" selected>Silence time </option>
                            <option value="10">
                               10 Minutes
                            </option>
                            <option value="15">
                                15 Minutes
                             </option>
                             <option value="20">
                                20 Minutes
                             </option>
                             <option value="25">
                                25 Minutes
                             </option>
                             <option value="30">
                                30 Minutes
                             </option>
                            
                    </select>
                </li>
            </ul>
        </div>    
        </li>


    </ul>
    <div class="pb-5">&nbsp;</div>
</nav>