<header>
    <!--Navbar-->
<nav class="navbar navbar-expand-lg navbar-dark blue-gradient fixed-bottom">
    <div class="container d-flex justify-content-around" style="max-width:550px;">
        <!-- Navbar brand -->
        
        <a href="#prayer-carousel" id="prev" class="text-white" data-slide="prev"><i class="fas fa-chevron-left fa-2x"></i></a>
        <a href="#" class="text-white" id="sidebarCollapse"><i class="fas fa-cogs fa-2x"></i></a>
        <a class="navbar-brand" href="{{site.url}}"><img src="img/logo_white.png" class="image-fluid" style="height:32px"/></a>
        <a href="{{site.url}}/prayer.html?prayerId=0" class="text-white"><i class="fas fa-book fa-2x"></i></a>
        <a href="#prayer-carousel" id="next" class="text-white" data-slide="next"><i class="fas fa-chevron-right fa-2x"></i></a>
             
    </div>
</nav>
<!--/.Navbar-->
</header>

 <!-- Sidebar  -->
 <nav id="sidebar" class="blue-gradient">
    <div id="dismiss">
        <i class="fas fa-arrow-left"></i>
    </div>

    <div class="sidebar-header">
        <h3><img src="{{site.url}}/img/logo_white.png" style="height:25px"/> Simply Pray</h3>
    </div>

    <ul class="list-unstyled components">
        <p style="border-bottom: 1px solid #fff;">Settings</p>
    
        <li><a href="#daily-psalm-menu" data-toggle="collapse" aria-expanded="false">Daily Psalm</a>
           <ul class="collapse list-unstyled" id="daily-psalm-menu">
                <li>
                    <select class="ml-auto custom-select" id="psalm-select">
                    <option selected>Pick a Psalm</option>
                    {% for psalm in site.data.psalms %}
                    <option value="{{psalm.id}}">{{psalm.title}} 
                        {% if psalm.section %} 
                        - {{psalm.section}} 
                        {% endif %} </option>
                    {% endfor %}
                    </select>
                </li>
           </ul>
            
        
        
        </li>
        
        
        <li>
            <a href="#opening-prayers-menu" data-toggle="collapse" aria-expanded="false">Opening Prayer</a>
            <ul class="collapse list-unstyled" id="opening-prayers-menu">
                {% assign prayers = site.data.prayers  %}
                {% for prayer in prayers %}
                    {% if prayer.tags contains "opening" %}
                    <li>
                        <a href="#">{{prayer.title}}</a>
                    </li>
                    {% endif %}
                {% endfor %}
            </ul>
        </li>






        <li>
            <a href="#prayers-of-intent-menu" data-toggle="collapse" aria-expanded="false">Prayers of Intent</a>
            <ul class="collapse list-unstyled" id="prayers-of-intent-menu">
                {% for prayer in prayers %}
                    {% if prayer.tags contains "intent" %}
                    <li>
                        <a href="#">{{prayer.title}}</a>
                    </li>
                    {% endif %}
                {% endfor %}
            </ul>
        </li>






        <li>
            <a href="#">Silent Prayer Time</a>
        </li>





        <li>
            <a href="#closing-prayers-menu" data-toggle="collapse" aria-expanded="false">Closing Prayers</a>
            <ul class="collapse list-unstyled" id="closing-prayers-menu">
                {% for prayer in prayers %}
                    {% if prayer.tags contains "closing" %}
                    <li>
                        <a href="#">{{prayer.title}}</a>
                    </li>
                    {% endif %}
                {% endfor %}
            </ul>
        </li>




    </ul>
    <div class="pb-5">&nbsp;</div>
</nav>