<!DOCTYPE html>
<html lang="en">

  {%- include headTest.html -%}

  <body>

   
    {%- if page.preloader -%}
    {%- include preloader.html -%}
    {%- endif -%}
    <!--Main Navigation-->
    {%- include header.html -%}

    <main>
      <div class="container-flex">
        {{ content }}
      </div>
    </main>

    {%- include footer.html -%}
  <!-- jQuery -->
  <script
  src="https://code.jquery.com/jquery-3.4.1.min.js"
  integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
  crossorigin="anonymous"></script>
  
  <!-- Bootstrap tooltips -->
  <script type="text/javascript" src="{{site.url}}/js/popper.min.js"></script>
  <!-- Bootstrap core JavaScript -->
  <script type="text/javascript" src="{{site.url}}/js/bootstrap.min.js"></script>
  <!-- MDB core JavaScript -->
  <script type="text/javascript" src="{{site.url}}/js/mdb.min.js"></script>
  <!-- Your custom scripts (optional) -->
  <script type="text/javascript" src="{{site.url}}/js/moment.js"></script>
  
  <!-- jQuery Custom Scroller CDN -->
  <script type="text/javascript" src="{{site.url}}/js/jquery.mCustomScrollbar.concat.min.js"></script>
  
 
  </body>
</html>

